<h1> Total Gryffindor Members: <%= @members.count %> </h1>

<% @members.each do |member| %>
  <li class="name">Name: <%= member.name %></li>
  <li class="house">House: <%= member.house %></li>
  <% unless member.role.nil? %>
    <li class="role">Role: <%= member.role %></li>
  <% end %>
  <% unless member.patronus.nil? %>
    <li class="patronus">Patronus: <%= member.patronus %></li>
  <% end %>
  <br><br>
<% end %>
